{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Hero image and text -->
<div class="container-fluid header-container">
  <div class="row">
    <div class="col"></div>
  </div>
  <div class="col-7 col-md-6 my-auto">
    <h1 class="display-5 logo-font text-black">
      Great skin starts here!
    </h1>
    <div class="my-5">
      <h4>
        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-4 text-uppercase py-3"><strong>Shop Now</strong></a>
      </h4>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}
<!-- Bestsellers Section -->
<section class="container-fluid best-sellers">
<div class="container-fluid">
            <!-- Best Selling Header -->
            <div>
              <h2 class="best-sellers-header">Check out our Bestsellers</h2>
            </div>

        <!-- Best Selling Products -->
        <div class="container">
          <div class="row mt-4">
            <div class="row product-card-row mb-5">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="div-product-card">
                  <div class="div-product-card-img">
                    <div class="product-card-content">
                      <!-- feature product one -->
                      <a href="{% url 'product_detail' featured_product_1.id %}" class="product-page-link">
                        <div class="div-product-card-img">
                          {% if featured_product_1.image %}
                          <img src="{{ MEDIA_URL }}{{ featured_product_1.image }}" alt="{{ featured_product_1.name }}">
                          {% else %}
                          <img src="{{ MEDIA_URL }}no_image.png" alt="No Image Available">
                          {% endif %}
                        </div>
                        <p class="text-black text-center">{{ featured_product_1.name }}</p>
                        <p class="text-black text-center">€{{ featured_product_1.price }}</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="div-product-card">
                  <div class="div-product-card-img">
                    <!-- feature product two -->
                    <div class="product-card-content">
                      <a href="{% url 'product_detail' featured_product_2.id %}" class="product-page-link">
                        <div class="div-product-card-img">
                          {% if featured_product_2.image %}
                          <img src="{{ MEDIA_URL }}{{ featured_product_2.image }}" alt="{{ featured_product_2.name }}">
                          {% else %}
                          <img src="{{ MEDIA_URL }}no_image.png" alt="No Image Available">
                          {% endif %}
                        </div>
                        <p class="text-black text-center">{{ featured_product_2.name }}</p>
                        <p class="text-black text-center">€{{ featured_product_2.price }}</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="div-product-card">
                  <div class="div-product-card-img">
                    <!-- feature product three -->
                    <div class="product-card-content">
                      <a href="{% url 'product_detail' featured_product_3.id %}" class="product-page-link">
                        <div class="div-product-card-img">
                          {% if featured_product_3.image %}
                          <img src="{{ MEDIA_URL }}{{ featured_product_3.image }}" alt="{{ featured_product_3.name }}">
                          {% else %}
                          <img src="{{ MEDIA_URL }}no_image.png" alt="No Image Available">
                          {% endif %}
                        </div>
                        <p class="text-black text-center">{{ featured_product_3.name }}</p>
                        <p class="text-black text-center">€{{ featured_product_3.price }}</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>  
</div>  
</section>

{% endblock %}