html {
    height: 100%;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.header-container {
    background: url('/media/ellieface_cover_image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 500px;
    color: #555;
    font-family: 'Lato';
}

.header-container-products {
    padding-top: 164px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: rgba(0, 0, 0, 0.4) !important;
}

.banner-font {
    font-size: 15px !important;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* -------------------------------- Footer */
#footer {
    background-color: #fff099;
    min-height: 130px;
    margin-top: 0;
    font-weight: bold;
}

.footer-link {
    text-transform: uppercase;
    display: block;
    color: black;
    padding: 5px;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-row {
    padding-top: 35px;
    margin: 0;
}

.social-media {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.social-link {
    color: black;
}

/* -------------------------------- Best Sellers on Homepage */
.best-sellers-header {
    text-align: center;
    margin-top: 5px;
    font-size: 2.6rem;
}


.homepage-cards, .homepage-cards-3 {
    height: 375px;
    margin-top: 2rem;
}

.shop-now-button {
    background: #fff099;
    color: black;
    min-width: 100px;
}


.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.card {
    height: 250px;
}

/* -------------------------------- Our Promise on Homepage */

.our-promise {
    height: 300px;
    margin: 5px;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}