<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Shop</a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="{% url 'products' %}?category=face" class="dropdown-item">Face</a>
                <a href="{% url 'products' %}?category=eyes" class="dropdown-item">Eyes</a>
                <a href="{% url 'products' %}?category=lips" class="dropdown-item">Lips</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'about' %}">About</a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'post' %}">Blog</a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}">Contact</a>
        </li>
    </ul>
</div>