{% block content %}
<!--- Header Text --->
<div class="container-fluid">
    <div class="container">
        <h2 class="best-sellers-header" >Check out our Bestsellers</h2>
        <img src="" alt="" class="center">
    </div>
    <!--- Best Selling Products --->
    <div class="row mt-4">
        <div class="container">
            <div class="row product-card-row mb-5">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <div class="product-card-content">
                                <!--- Best selling product 1 --->
                                <a href="" class="product-page-link">
                                    <div class="div-product-card-img">
                                        {% if featured_product_1.image %}
                                        <img src="{{ MEDIA_URL }}bestseller-1.jpg"
                                            alt="">
                                        {% else %}
                                        <img src="" alt="No Image Available">
                                        {% endif %}
                                    </div>
                                    <p class="product-card-title"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <!--- Best selling product 2 --->
                            <div class="product-card-content">
                                <a href="" class="product-page-link">
                                    <div class="div-product-card-img">
                                        {% if featured_product_2.image %}
                                        <img src=""
                                            alt="">
                                        {% else %}
                                        <img src="" alt="No Image Available">
                                        {% endif %}
                                    </div>
                                    <p class="product-card-title"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <!--- Best selling product 3 --->
                            <div class="product-card-content">
                                <a href="" class="product-page-link">
                                    <div class="div-product-card-img">
                                        {% if featured_product_3.image %}
                                        <img src=""
                                            alt="">
                                        {% else %}
                                        <img src="" alt="No Image Available">
                                        {% endif %}
                                    </div>
                                    <p class="product-card-title"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}