{% block content %}
<!--- Image in container --->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 half-left ">
            <img src="{{ MEDIA_URL }}beautiful-skin.jpg" alt="Ellieface beautiful-skin">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 half-right">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Our Promise</h2>
                        <p>We believe in beautiful skin and nails for everyone. That’s why we sell products to make your
                            skin dreams come true. No matter who you are, where you live, or what you do, you deserve to
                            feel like your best self.</p>
                        <h4>
                            <a href="{% url 'products' %}" class="shop-now-button btn btn-sm rounded-4 py-2">Shop Now</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}